@import "/src/theme/colors.scss";

.container {
  margin-top: 69px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .jumbotron {
    background: $accent-accent-dark;
    width: 100%;
    text-align: center;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1,
    p {
      color: $white;

      a {
        color: $theme-accent;
      }
    }

    h1 {
      text-transform: uppercase;
    }

    p {
      padding: 0 69px;
    }
  }

  .demoContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    
    div {
      flex: 1;
      padding: 25px;
    }
  }
}
